.Admin {
    margin: 30px;
    font-weight: bold;
}

.Admin table {
    border-collapse: collapse;
}

.Admin table td, .Admin table th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.Admin table tr:nth-child(even){background-color: #f2f2f2;}

.Admin table tr:hover {background-color: #ddd;}

.Admin table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--gold-color);
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input.checked + .slider {
    background-color: #27ae60;
  }
  
  input.focus + .slider {
    box-shadow: 0 0 1px #27ae60;
  }
  
  input.checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  .remove-btn {
      background-color: #e74c3c;
      border: 0px;
      border-radius: 3px;
      color: white;
      cursor: pointer;
  }

  .remove-btn:hover {
      background-color: #c0392b;
  }